<Configuration status="ERROR">
    <Appenders>
        <File name="FILEOUT" fileName="codyze.log">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %C{1} %m%n"/>
        </File>
        <Async name="Async">
            <AppenderRef ref="FILEOUT"/>
        </Async>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" additivity="false">
            <appender-ref ref="FILEOUT" level="WARN" />
            <appender-ref ref="CONSOLE" />
        </Root>
    </Loggers>
</Configuration>
