<Configuration status="ERROR">
    <Appenders>
        <File name="FILEOUT" fileName="crymlin.log">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %C{1} %m%n"/>
        </File>
        <Async name="Async">
            <AppenderRef ref="FILEOUT"/>
        </Async>
    </Appenders>
    <Loggers>
        <logger level="DEBUG" name="de.fraunhofer.aisec"/>
    </Loggers>
</Configuration>
