<Configuration status="WARN">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %C{1} %m%n"/>
      <ThresholdFilter level="DEBUG"/>
    </Console>
    <File name="FILEOUT" fileName="crymlin.log">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %C{1} %m%n"/>
    </File>
    <Async name="Async">
      <AppenderRef ref="FILEOUT"/>
    </Async>
  </Appenders>
  <Loggers>
    <Logger level="DEBUG" name="de.fraunhofer.aisec.analysis.wpds"/>
    <Root level="WARN">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="FILEOUT"/>
    </Root>
  </Loggers>
</Configuration>
