name: Build & publish docs
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - uses: actions/cache@v3
        with:
          key: ${{ github.ref }}
          path: .cache
      - name: 'Install mkdocs-material and plugins'
        run: |
          python -m pip install mkdocs-material
          python -m pip install -r ./docs/mkdocs-material-plugins.txt
      - name: 'Build API pages'
        run: ./gradlew -Dorg.gradle.internal.repository.max.tentatives=5 -Dorg.gradle.internal.repository.initial.backoff=10000 :codyze-v2:dokkaHtml :codyze-v3:dokkaHtmlMultiModule
      - name: 'Build & deploy docs'
        run: mkdocs gh-deploy --force
